{% extends 'base.html' %}

{% block content %}

<div class="col">
  <h4 class="text-center"> {{ message }}</h4>
    <div class="row">
      {% for key in products %}
        <div class="col-3 mt-5">
          <!-- Product --->
          <div class="card h-100">

            {% if key.image %}
              <img src="{{ key.image.url }}" alt="Imagen del producto" height="200">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"> {{ key.title }} </h5>
              <p class="card-text"> {{ key.description}} </p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
